.email-container {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0;

    div{border: 1px solid black;}

    //Desktop layout
    @media only screen and (min-width: 961px) {
        div:nth-child(1) {
            order: 0;
            flex-grow: 1;
            border-right: 0;
        }

        div:nth-child(2) {
            order: 1;
            flex-grow: 1;
            border-right: 0;
        }

        div:nth-child(3) {
            order: 2;
            flex-grow: 1;
            border-right: 0;
        }

        div:nth-child(4) {
            order: 3;
            flex-grow: 1;
            border-right: 0;
        }
        div:nth-child(5) {
            order: 4;
            flex-grow: 1;
        }
    }
    
    //Mobile layout
    @media only screen and (max-width: 960px) {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    
        div:nth-child(1) {
            order: 4;
            flex-grow: 2;
            flex: 1 1 200px;
        }
    
        div:nth-child(2) {
            order: 2;
            flex-grow: 1;
            flex: 1 1 160px;
            border-right: 0;
        }
    
        div:nth-child(3) {
            order: 0;
            flex-grow: 30;
            flex: 1 1 432px;
            border-right: 0;
        }
    
        div:nth-child(4) {
            order: 3;
            flex-grow: 1;
            flex: 1 1 160px;
            border-right: 0;
        }
        div:nth-child(5) {
            order: 1;
            flex-grow: 2;
            flex: 1 1 200px;
        }
    
    }

}