$bg-colour:#C4DBF6;
$container-bg-col: white;

body {
  background-color: $bg-colour;
}

.App {
  background-color: $container-bg-col;
  margin: 0 auto;
  min-width: 90%;
  height: 100vh;
  padding: 20px;
}
